.postContentBlock {
    display: flex;
    flex-direction: column;
    margin: 0 18vw;
    max-height: calc(100vh - 140px);
    overflow-x: hidden;
    overflow-y: auto;
}

.headerAndEditButtonSection {
    display: flex;
    column-gap: 1vw;
}

.buttonsSection {
    display: flex;
    justify-content: flex-end;
}
