.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.headerBlock > h1 {
    margin-bottom: 0;
}

.buttonsAndUserInfoSection {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
